# Node
node_modules/

# Python
__pycache__/
*.pyc

# Java
target/
*.class

# Maven
.settings/
.project
.classpath

# Go
bin/
*.exe
*.test
*.out

# Docker
*.log
*.env

# JetBrains IDEs
.idea/

# OS/System
.DS_Store
Thumbs.db

# Terraform
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which might contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually environment-specific
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Terraform lock files
.terraform.lock.hcl

# Terraform plan output
tfplan
*.tfplan

# Ignore sensitive files that might contain secrets
*.pem
*.key
*secrets*